*{
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #fff2f6;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.form-container{
    background-color: white;
    border-radius: 10px;
    padding: 3.5rem;
    width: 40em;
    min-height: 30em;
    box-shadow: -5px 5px 15px 0.5px rgb(247, 215, 220);
}
fieldset{
    border: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
legend{
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 1.8em;
}
.form-input-container{
    margin-bottom: 1em;
}
.form-input-container:first-of-type{
    width: 100%;
}
input{
    width: 100%;
    padding: 1.5rem;
    border: 2px solid rgba(189, 189, 189, 0.3);
    border-radius: 5px;
}
.form-input-container:nth-of-type(2), .form-input-container:last-of-type{
    width: 48%;
    flex: 1 1 48%;
}
select{
    width: 100%;
    background-color: white;
    border: 2px solid rgba(189, 189, 189, 0.3);
    border-radius: 5px;
    padding: 1.5rem;
}
.form-input-container:nth-of-type(2){
    margin-right: 2%
}
textarea{
    width: 100%;
    padding:1.5rem;
    border-radius: 5px;
    border: 2px solid rgba(189, 189, 189, 0.3);
    resize: none;
}
button{
    width: 49%;
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    padding: 0.6em 0;
}
button:first-of-type{
    margin-right: 2%;
    background-color: #e73368;
    color: white;
}
button:last-of-type{
    background-color: #eff4fd;
    color: #7e7393;
    
}
span{
    font-size: 2rem;
    font-weight: 400;
    margin-right: 0.5em;
}